<div class="col-lg-12">

<h2><%= @post.title %></h2>
<p>カテゴリー：<%= find_category_title(@post.category_id) %></p>
<p>投稿日：<%= @post.created_at %></p>
<hr />
<p><%= @post.body %></p>
<hr />
<%= link_to '編集する', "/posts/#{@post.id}/edit", :class => "btn btn-default" %>
<%#= link_to '削除する', "/posts/#{@post.id}/destroy", :class => "btn btn-danger" :method :delete %>
<%= link_to '削除する', "/posts/#{@post.id}", :class => "btn btn-danger", :method => :delete %>
</div>
