<div class="col-lg-12">

<h2><%= @post.title %></h2>
<p>カテゴリー：<%= @post.category %></p>
<p>投稿日：<%= @post.created_at %></p>
<hr />
<p><%= @post.body %></p>
<hr />
<%= link_to '編集する', "/posts/edit/#{@post.id}", :class => "btn btn-default" %>
<%= link_to '削除する', "/posts/delete/#{@post.id}", :class => "btn btn-danger" %>
</div>
